a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
p{
    font-family: 'Open Sans', sans-serif;
}
li{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(157,117,203,1) 100%);
}
.header>img{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}
.header>p{
    font-size: 32px;
    letter-spacing: 6px;
    text-align: center;
}
.header>nav{
    margin-left: auto;
    margin-right: auto;
}
.header>nav>ul{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
li{
    background-color: #9D75CB;
    font-size: 24px;
    list-style: none;
    border: 5px solid #8f69b7;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
}
.sadrzaj{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "ime prezime"
        "mejl mejl"
        "tekst tekst"
        "izbor izbor"
        "dugme dugme";
}
.mejl {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    grid-area: mejl;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif; 
}
.ime {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column; 
    grid-area: ime;
    text-align: center; 
    font-size: 30px; 
    font-family: 'Open Sans', sans-serif; 
}
.prezime {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;  
    grid-area: prezime;
    text-align: center; 
    font-size: 30px; 
    font-family: 'Open Sans', sans-serif;
}
.tekst {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;  
    grid-area: tekst;
    text-align: center;  
}
.izbor{
    display: flex;
    grid-area: izbor;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    text-align: center; 
    font-size: 30px; 
    font-family: 'Open Sans', sans-serif; 
}
.dugme {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column; 
    grid-area: dugme;
    text-align: center; 
    font-family: 'Open Sans', sans-serif; 
}
.dugme>input{
    font-size: 40px;
    border-radius: 40px;
    width: 120%;
    background-color: #9D75CB;
    border-color:  #8f69b7;
}
.izbor{
    margin-top: 40px;
    margin-bottom: 20px;
}
.opcije{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-evenly;
}
.footer{
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 50px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(157,117,203,1) 100%);
}
.footer>p{
    text-align: center;
}